.main-header {
  padding: 15px 0;
  background-color: var(--theme-bg-secondary);

  &__nav {
    display: flex;
    gap: 6px;
  }

  &__nav-item-link {
    display: block;
    padding: 9px 15px;
    color: var(--theme-tp-color-secondary);
    text-decoration: none;
    transition: .3s ease;

    &:hover {
      background-color: var(--theme-bg-tertiary);
      color: var(--theme-tp-color-primary);
    }

    &--active {
      background-color: var(--theme-bg-tertiary);
      color: var(--theme-tp-color-primary);
      cursor: default;
    }
  }
}
