.dashboard-page {
  &__summary,
  &__charts-wrap,
  &__cashflow-chart{
    margin-bottom: 25px;
  }

  &__donut-chart {
    flex-shrink: 0;
    width: 420px;
    padding-top: 28px;
  }

  &__top-categories {
    flex-grow: 1;
  }
}
