@use 'src/assets/styles/sizes';

.center-layout {
  margin: 0 auto;
  padding: 0 25px;

  @media (min-width: sizes.$screen-desktop-l) {
    max-width: 1150px;
  }

  @media (max-width: sizes.$screen-mobile-m) {
    padding: 0 10px;
  }
}
