.app-table-editable-cell {
  &__value-wrap {
    box-sizing: border-box;
    min-height: 34px;
    padding: 5px 11px;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    transform: translateX(-8px);

    &:hover {
      border-color: #d9d9d9;
    }

    &:focus-visible {
      border-color: #7e8299;
      outline: none;
    }

    &--no-active {
      opacity: 0.3;
      cursor: default;

      &:hover {
        border-color: transparent;
      }
    }
  }

  &__input {
    transform: translateX(-8px);
  }
}
