// Парадигма - все цвета делятся на 10 частей
// где 100 - самый светлый тон, 1000 - самый темный
// Например - если цвет серый, то 1 для него это - #ffffff,
// 10 - #000000

:root {
  // bg
  --theme-bg-primary: #f9fafb;
  --theme-bg-secondary: #fff;
  --theme-bg-tertiary: #f3f3f7;

  // color
  --theme-tp-color-primary: #3699fa;
  --theme-tp-color-secondary: #7e8299;
}

[data-theme='dark'] { // stylelint-disable-line

}
