@use "mixins";

html,
body {
  height: 100%;
}

body {
  background-color: var(--theme-bg-primary);
}

#root {
  height: 100%;
}

img {
  height: auto;
  width: 100%;
}

.reset-list {
  @include mixins.reset-list;
}

