.transactions-module {
  padding: 28px;
  border-radius: 6px;
  background-color: var(--theme-bg-quaternary);
  box-shadow: var(--theme-shadow-primary);

  &__row-top {
    margin-bottom: 15px;
  }

  &__title {
    &.tp-reset {
      margin-bottom: 16px;
    }
  }

  &__filters {
    margin-bottom: 15px;
  }

  &__category-select {
    width: 254px;
  }
}
